body {
    
    margin-bottom: 30px;
}

.jumbotron {
    max-height:150px;
    
}

.footer {
 
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color:#eee;
  
}
.publication{
    background-color:lightgray;
     padding-right: 0px;
     padding-left: 0px;
     border-radius:10px;
    
     
}

.spaceclass{
    height:20px;
}


